@media only screen and (max-width: 600px) {
  .search-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .search-input-container {
    padding: 1.75em;
    background: #121212;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

@media only screen and (min-width: 600px) {
  .search-input-container {
    max-width: 50vw;
  }
}
